
/* container grids */
.create{
    grid-area: create;
    background-color: hsl(31, 66%, 93%);
}
.socioal-media{
    grid-area: socioal-media;
    background-color: hsl(256, 67%, 59%);

}
.schedule{
    grid-area: schedule;
    background-color: hsl(254, 88%, 90%);

}
.using-AI{
    grid-area: using-AI;
    background-color: hsl(39, 100%, 71%);

}
.manage{
    grid-area: manage;
    background-color: hsl(0, 0%, 100%);

}
.maintain{
    grid-area: maintain;
    background-color: hsl(39, 100%, 71%);

}
.precentage{
    grid-area: precentage;
    background-color: hsl(0, 0%, 100%);

}
.Grow-followers{
    grid-area: Grow-followers;
    background-color: hsl(256, 67%, 59%);

}


.container{
    display: grid ;
    grid-template-columns:  1fr 1fr 1fr 1fr  ;
    grid-template-rows: 60px 50px 60px 40px 60px 40px 60px 60px;
    column-gap: 10px;
    row-gap: 10px;
    /* grid-template-rows: repeat(8,50% ); */
    grid-template-areas: 
    "create socioal-media socioal-media schedule"
    "create socioal-media socioal-media schedule"
    "create socioal-media socioal-media schedule"
    "create manage maintain schedule"
    "using-AI  manage maintain schedule"
    "using-AI  manage maintain schedule"
    "using-AI precentage Grow-followers Grow-followers"
    "using-AI precentage Grow-followers Grow-followers"
    ;
}
.item{
    border-radius: 10px;
}
/*////////////////////////// box styles ////////////////////////*/

/* create and schedule box */
.create{
    margin-bottom: 15px;
}
.CRroot{
  text-align: center;  
}
.CRtext{
    font-size: 26px;
    font-weight: 700;
    text-align: start;
    padding-left: 15px;
    padding-top: 40px;
    line-height: 22px;
}
.CRtext span{
    color: hsl(256, 67%, 59%);
}
.CR-butten{
    width: 115px;
    height: 55px;
    padding-top: 15px;
}


/* social media box */
.SMroot{
    text-align: center;
    margin-top: 10%;
}
.SMtext{
    font-size: 40px;
    font-weight: 700;
    line-height: 34px;
    color: white;
}
.SMtext span{
    color: hsl(39, 100%, 71%);
}
.stars{
    width: 110px;
    margin-top: 10px;
}
.SMviews{
    color: white;
    font-size: 13px;
}

/* Schedule to social media box */



.SCroot{
    overflow: hidden;
    
}
.SCtext{
    padding-left: 15px;
    padding-top: 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 14px;

}
.SCbest-time{
    width: 150%;
    height: 205px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 5px;
}
.SCtiming{
    padding-left: 15px;
    padding-top: 5px;
    font-size: 13px;
    line-height: 12px;
}



/* Using AI box */

.AIroot{
    text-align: center;
}
.AItext{
    text-align: start;
    padding-left: 10px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    padding-top: 10px;
}
.AIcontent{
    padding-left: 5px;
    width: 140px;
    height: 140px;
    padding-top: 20px;
}


/* Manage box */
.MAroot{
    overflow: hidden;
}
.MAaccounts{
    width: 130%;
    height: 45px;
    padding-left: 15px;
    padding-top: 15px;
}
.MAtext{
    padding-left: 15px;
    padding-top: 5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
}



/* MAintain box */
.maintain{
    overflow: hidden;

}
.MTroot{
    text-align: center;
}
.MTtext{
    padding-left: 15px;
    font-size: 22px;
    font-weight: 700;
    line-height: 20px;
    padding-top: 10px;
    text-align: start;
}
.MTchecklist{
    width: 130px;
    height: 100px;
    padding-top: 10px;
}


/* Percentage box */
.PRroot{
    text-align: center;
}
.PRnumber{
    text-align: start;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 2px;
    font-size: 35px;
    font-weight: 700;
}
.PRtext{
    font-size: 13px;
    padding-bottom: 13px;
}
.PRaudience{
    width: 110px;
}

/* Grow followers box */
.GRroot{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.GRchart{
    width: 125px;
    padding-left: 12px;
    padding-top: 10px ;
}
.GRtext{
    font-size: 22px;
    line-height: 20px;
    padding-top: 28px;
    color: white;
}













